// colours
$pink: #ffb3be;
$teal: #b3ffe5;
$purple: #e7d2ff;
$green: #d2ffa3;
$dark: #181030;
$light: #fffad3;
$extra-light: #fffdec;

// fonts
$regular: 400;
$demi: 600;
$bold: 700;

// screen size breakpoints
$tablet-min: 768px;
$tablet-max: 1279px;
$desktop-min: 1280px;