@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;

.main {
    display: flex;
    background-color: $extra-light;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__add-container {
        @include size(50px, 50px);
    }

    &__add {
        width: 100%;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 1rem;
        width: 100%;
    }

    &__stickys {
        display: flex;
        flex-wrap: wrap;
    }

    &__alt {
        display: flex;
        flex-direction: row;
    }
}